*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{

    display:flex;
   justify-content: center;
   width:100vw;
   height: 100vh;

    
    
}
.wrapper{
   
    width:60vw;
   height: 100vh;
}
.wrapper h1{
    padding-bottom: 1rem;
    color:rgb(104, 104, 104);
    font-weight: lighter;
}
.input{
    margin-bottom:0.5rem;
    font-weight: bold;
}
.input label{
    display: block;
    line-height: 1.5;
   

}
.input input{
 
    width:100%;
    padding:0.5rem;
    border:1.25px solid rgb(211, 211, 211);
   
}
#btn{
    padding:0.5rem 1.8rem;
    color:rgb(100, 100, 100);
}
form{
 
  padding-bottom: 2rem;;
    border-bottom:1px solid rgb(233, 233, 233);
}
table{
width: 100%;
}


  td{
      text-align: center;
      border-top:1px solid rgb(230, 227, 227);
      padding:0.1rem;
  }

/*JavaScript Warning and Success*/
.warning,.success{
width:100%;
background-color: red;
color:#f4f4f4;

padding:0.2rem;


}
.success{
    background-color: #114909;
}
