*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{

    display:flex;
   justify-content: center;
   width:100vw;
   height: 100vh;

    
    
}
.wrapper{
   
    width:60vw;
   height: 100vh;
}
.wrapper h1{
    padding-bottom: 1rem;
    color:rgb(104, 104, 104);
    font-weight: lighter;
}
.input{
    margin-bottom:0.5rem;
    font-weight: bold;
}
.input label{
    display: block;
    line-height: 1.5;
   

}
.input input{
 
    width:100%;
    padding:0.5rem;
    border:1.25px solid rgb(211, 211, 211);
   
}
#btn{
    padding:0.5rem 1.8rem;
    color:rgb(100, 100, 100);
}
form{
 
  padding-bottom: 2rem;;
    border-bottom:1px solid rgb(233, 233, 233);
}
table{
  
    margin-top:1rem;
    display: flex;
    flex-direction: column;
  
    width:100%;
}
tr{
    display:flex;
    justify-content: space-between;
 
    font-size: 0.85rem;
    margin-bottom: 0.5rem;;
    width: 80%;
    
}
